<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Thymeleaf Layout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div th:replace="fragments/sidenav :: sidenav"></div>
        <div th:fragment="content">
            <!-- Content will be inserted here -->
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>