<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.labgenomics.practice.api.mapper.TestMapper">

    <!-- Board 관련 쿼리 -->
    <insert id="insertBoard" parameterType="com.labgenomics.practice.api.model.Board">
        INSERT INTO Board (user_idx, title, content, mention, create_at, create_by, modified_at, modified_by, hit, is_hidden)
        VALUES (#{userIdx}, #{title}, #{content}, #{mention}, #{createAt}, #{createBy}, #{modifiedAt}, #{modifiedBy}, #{hit}, false)
    </insert>

    <select id="selectBoardById" parameterType="int" resultType="com.labgenomics.practice.api.model.Board">
        SELECT * FROM Board WHERE board_id = #{boardId} AND is_hidden = false
    </select>

    <update id="updateBoard" parameterType="com.labgenomics.practice.api.model.Board">
        UPDATE Board
        SET user_idx = #{userIdx}, title = #{title}, content = #{content}, mention = #{mention}, create_at = #{createAt},
            create_by = #{createBy}, modified_at = #{modifiedAt}, modified_by = #{modifiedBy}, hit = #{hit}
        WHERE board_id = #{boardId} AND is_hidden = false
    </update>

    <update id="hideBoard" parameterType="int">
        UPDATE Board SET is_hidden = true WHERE board_id = #{boardId}
    </update>


    <!-- BoardComment 관련 쿼리 -->
    <insert id="insertBoardComment" parameterType="com.labgenomics.practice.api.model.BoardComment">
        INSERT INTO BoardComment (board_id, user_idx, content, create_at, create_by, modified_at, modified_by)
        VALUES (#{boardId}, #{userIdx}, #{content}, #{createAt}, #{createBy}, #{modifiedAt}, #{modifiedBy})
    </insert>

    <select id="selectBoardCommentById" parameterType="int" resultType="com.labgenomics.practice.api.model.BoardComment">
        SELECT * FROM BoardComment WHERE boardcomment_id = #{boardCommentId}
    </select>

    <update id="updateBoardComment" parameterType="com.labgenomics.practice.api.model.BoardComment">
        UPDATE BoardComment
        SET board_id = #{boardId}, user_idx = #{userIdx}, content = #{content}, create_at = #{createAt}, create_by = #{createBy},
            modified_at = #{modifiedAt}, modified_by = #{modifiedBy}
        WHERE boardcomment_id = #{boardCommentId}
    </update>

    <delete id="deleteBoardComment" parameterType="int">
        DELETE FROM BoardComment WHERE boardcomment_id = #{boardCommentId}
    </delete>

    <!-- User 관련 쿼리 -->
    <insert id="insertUser" parameterType="com.labgenomics.practice.api.model.User">
        INSERT INTO User (user_name, user_id, user_pw)
        VALUES (#{userName}, #{userId}, #{userPw})
    </insert>

    <select id="selectUserById" parameterType="int" resultType="com.labgenomics.practice.api.model.User">
        SELECT * FROM User WHERE user_idx = #{userId}
    </select>

    <update id="updateUser" parameterType="com.labgenomics.practice.api.model.User">
        UPDATE User
        SET user_name = #{userName}, user_id = #{userId}, user_pw = #{userPw}
        WHERE user_idx = #{userId}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM User WHERE user_idx = #{userId}
    </delete>
</mapper>